@using Microsoft.AspNetCore.Identity
@using eideas.Areas.Identity.Data
@inject UserManager<EIdeasUser> UserManager
@model Idea
@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Idea #@Model.IdeaId</h3>

    @{var voted = Model.IdeaUpdoots.Any(i => i.Id == UserManager.GetUserId(User));}
    <div class="row">
        <div class="col-sm-3 text-center" style="width:160px;">
            <div class="text-center pull-left" style="margin-top:15px;">
                <i class="glyphicon glyphicon-chevron-up upvote @(voted ? "voted" : "")" onmousedown="upvote(@Model.IdeaId)"></i><br />
                <span id="upvoteCount-@Model.IdeaId">@Model.IdeaUpdoots.Count</span>
            </div>
            <img class="pull-left" style="border-radius:50%; height: 80px; width: 80px; object-fit: cover; margin-left: 15px;" src="/images/headshot.png" alt="Profile Picture" />
        </div>
        <div class="col-sm-9 col-xs-12">
            <h3>@Model.IdeaName&nbsp;</h3>
            <p>@Model.IdeaContent</p>
        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-xs-12">
            <div class="col-xs-3 pdca text-center @(Model.PDCA == PDCA.plan ? "doing" : "") @(Model.PDCA > PDCA.plan ? "done" : "")">
                Plan
            </div>
            <div class="col-xs-3 pdca text-center @(Model.PDCA == PDCA.@do ? "doing" : "") @(Model.PDCA > PDCA.@do ? "done" : "")">
                Do
            </div>
            <div class="col-xs-3 pdca text-center @(Model.PDCA == PDCA.check ? "doing" : "") @(Model.PDCA > PDCA.check ? "done" : "")">
                Check
            </div>
            <div class="col-xs-3 pdca text-center @(Model.PDCA == PDCA.act ? "doing" : "") @(Model.PDCA > PDCA.act ? "done" : "")">
                Act
            </div>
        </div>
    </div>

    @Html.Partial("~/Idea/_CommentForm.cshtml", new IdeaComment())


     <div class="row">
         <div class="col-xs-12">
             <h3>Comments</h3>
             @foreach (var comment in Model.IdeaComments)
             {
             <div class="row" style="margin-top:15px;">
                 <div class="col-xs-4 text-center" style="width:140px;">
                     <div class="text-center pull-left">
                         <i class="glyphicon glyphicon-chevron-up upvote" onmousedown="upvote(@Model.IdeaId)"></i><br />
                         <span id="">123</span>
                     </div>
                     <img class="pull-left" style="border-radius:50%; height: 60px; width: 60px; object-fit: cover; margin-left: 15px;" src="/images/headshot.png" alt="Profile Picture" />
                 </div>
                 <div class="col-xs-8">
                     <h4>@comment.Comment &nbsp;</h4>
                     <p class="small">@comment.EIdeasUser.Email at @comment.CreatedDate.ToString("hh:mmtt - MM/dd/yyyy")</p>
                      <hr/>
                 </div>

             </div>
             }
         </div>
    </div>
    </div>
</div>
